<div class="container">
  <span class="big-circle"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">les formulaires sous angular</p>

      <div class="info">
        <div class="information">
          <i class="fas fa-map-marker-alt"></i> &nbsp &nbsp

          <p>XXXX</p>
        </div>
        <div class="information">
          <i class="fas fa-envelope"></i> &nbsp &nbsp
          <p>loremm.com</p>
        </div>
        <div class="information">
          <i class="fas fa-phone"></i>&nbsp&nbsp
          <p>XXX-XX-XXX</p>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form (submit)="valider()" [formGroup]="form" autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input
            type="text"
            formControlName="nom"
            name="nom"
            class="input"
            placeholder="nom"
          />

          @if (erreursForm['nom']) {

          <p for="">{{ erreursForm["nom"] }}</p>
          }
        </div>
        <div class="input-container">
          <input
            type="email"
            formControlName="email"
            name="email"
            class="input"
            placeholder="email"
          />
          @if (erreursForm['email']) {

          <p for="">{{ erreursForm["email"] }}</p>
          }
        </div>
        <div class="input-container">
          <input
            type="tel"
            formControlName="phone"
            name="phone"
            class="input"
            placeholder="phone"
          />
          @if (erreursForm['phone']) {

          <p for="">{{ erreursForm["phone"] }}</p>
          }
        </div>
        <div class="input-container textarea">
          <textarea
            name="message"
            formControlName="message"
            class="input"
            placeholder="message"
          ></textarea>
          @if (erreursForm['message']) {

          <p for="">{{ erreursForm["message"] }}</p>
          }
        </div>
        <button type="submit" class="btn" [disabled]="form.status == 'INVALID'">
          valider
        </button>
      </form>
    </div>
  </div>
</div>

<router-outlet />
